@charset "utf-8";
@import url(https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css);
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* 공통 */

body {
  font-family: "Poppins", sans-serif;
  background-color: white;
  a {
    color: black;
    text-decoration: none;
    background: linear-gradient(90deg, transparent, transparent),
      linear-gradient(90deg, currentColor, currentColor);
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    background-size: 100% 1px, 0 1px;
    display: inline;
    transition: background-size 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    cursor: pointer;
  }
  a.under_line {
    background-size: 0 1px, 100% 1px;
  }
  a:hover {
    background-size: 0 1px, 100% 1px;
  }
  button {
    font-family: "Poppins", sans-serif;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  strong {
    font-weight: 600;
  }
}

// 애니메이션

@keyframes upDown {
  0% {
    transform: translateY(-300%);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes widthUp {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@keyframes leftRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes downUpO {
  0% {
    transform: translateY(40%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes downUp {
  0% {
    top: 110%;
  }
  100% {
    top: 0%;
  }
}
@keyframes svgMotion1 {
  0% {
    transform: translateY(0%);
  }
  10% {
    transform: translateY(-100%);
  }
  50% {
    transform: translateY(-100%);
  }
  60% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes svgMotion2 {
  0% {
    transform: translateX(0%);
  }
  10% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(-100%);
  }
  60% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* 헤더 */

header {
  height: 82px;
  padding: 0 44px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 100;
  background-color: white;
  transition: 0.5s;
  .logo {
    height: 100%;
    display: flex;
    align-items: center;
    animation-name: upDown;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    transform: translateY(-300%);
    h1 {
      line-height: 100%;
      font-size: 22px;
      font-weight: 400;
    }
    svg {
      height: 24px;
      display: none;
    }
  }
  ul {
    display: flex;
    column-gap: 2em;
    li {
      animation-name: upDown;
      animation-duration: 0.5s;
      animation-fill-mode: forwards;
      transform: translateY(-300%);
      a {
        font-size: 13px;
      }
    }
    li:nth-child(2) {
      animation-delay: 0.1s;
    }
    li:nth-child(3) {
      animation-delay: 0.2s;
    }
  }
  .right > a {
    font-size: 13px;
    font-weight: 600;
    animation-name: upDown;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    transform: translateY(-300%);
    padding-bottom: 2px;
  }
}
header > nav {
  width: 50%;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header::before {
  content: "line";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: black;
  height: 1px;
  font-size: 0;
  animation-name: widthUp;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

/* 사이드바 */

.sidebar {
  width: 44px;
  height: 100vh;
  position: fixed;
  background-color: white;
  border-right: 1px solid black;
  display: flex;
  flex-direction: column;
  z-index: 99;
  animation-name: leftRight;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  .blank {
    transition: 0.5s;
    height: 82px;
  }
  button {
    padding: 18px 0;
    border-bottom: 1px solid black;
    padding-bottom: 14px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    cursor: pointer;
    animation-name: leftRight;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    transform: translateX(-100%);
    span {
      writing-mode: vertical-lr;
      transform: rotate(180deg);
      text-align: left;
      font-size: 14px;
    }
    span::after {
      background: #050505;
      bottom: 0;
      content: " ";
      height: 100%;
      position: absolute;
      transform: scaleY(0);
      transform-origin: top;
      transition: transform 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
      width: 1px;
    }
  }
  button:hover {
    span::after {
      transform: scaleY(1);
    }
  }
  button:nth-child(2) {
    animation-delay: 0.1s;
  }
  button:nth-child(3) {
    animation-delay: 0.2s;
  }
  button:nth-child(4) {
    animation-delay: 0.3s;
  }
  button:nth-child(5) {
    animation-delay: 0.4s;
  }
  button:nth-child(6) {
    animation-delay: 0.5s;
  }
  button.on {
    flex: 1;
    background-color: black;
    color: white;
    cursor: auto;
  }
}

/* 섹션1 */

.sec1 {
  background-color: rgb(255, 255, 255);
  height: 100vh;
  max-height: 100vh;
  margin-bottom: 100px;
  .container {
    width: calc(100% - 44px);
    height: 100%;
    padding-left: 44px;
    padding-top: 82px;
    position: relative;
    .text_box {
      display: flex;
      padding-left: 38px;
      padding-top: 26px;
      z-index: 1;
      position: relative;
      mix-blend-mode: difference;
      flex-direction: column;
      .line {
        display: flex;
      }
      h2 {
        font-size: 11.5vw;
        margin-right: 2vw;
        letter-spacing: -1vw;
        font-weight: 400;
        color: white;
        animation-name: downUpO;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        opacity: 0;
      }
      .ani2 {
        animation-delay: 0.1s;
      }
      .ani3 {
        animation-delay: 0.2s;
      }
      .ani4 {
        animation-delay: 0.3s;
      }
      .ani5 {
        animation-delay: 0.4s;
      }
      .ani6 {
        animation-delay: 0.5s;
      }
      .ani7 {
        animation-delay: 0.6s;
      }
      .ani8 {
        animation-delay: 0.7s;
      }
      .ani9 {
        animation-delay: 0.8s;
      }
      .ani10 {
        animation-delay: 0.9s;
      }
      .svg_morph {
        height: 7vw;
        width: 7vw;
        margin-top: 2.5vw;
        fill: white;
        animation-name: downUpO;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        opacity: 0;
        overflow: hidden;
      }
      .svg_morph.first {
        margin-left: 1vw;
        margin-top: 3vw;
        svg {
          animation-name: svgMotion1;
          animation-duration: 8s;
          animation-iteration-count: infinite;
        }
        svg:nth-child(2) {
          path {
            transform: rotate(180deg);
            transform-origin: 120% 212%;
          }
        }
      }
      .svg_morph.second {
        margin-right: 1.75vw;
        svg {
          animation-name: svgMotion2;
          animation-duration: 8s;
          animation-iteration-count: infinite;
          animation-delay: 2s;
        }
        svg:nth-child(2) {
          position: relative;
          top: -7.5vw;
          left: 6.5vw;
          scale: 0.9;
        }
      }
      .svg_morph.third {
        margin-left: 1vw;
        margin-right: 1.75vw;
        height: 7.4vw;
        svg {
          animation-name: svgMotion1;
          animation-duration: 8s;
          animation-iteration-count: infinite;
          animation-delay: 1s;
        }
      }
    }
    .bg_box {
      position: absolute;
      width: 82vw;
      height: 41vw;
      top: 82px;
      left: 44px;
      padding: 30px;
      padding-left: 6vw;
      display: flex;
      flex-wrap: wrap;
      i {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        background-color: black;
        border-radius: 50%;
        animation-name: downUp;
        animation-duration: 2s;
        animation-fill-mode: forwards;
        top: 110%;
      }
      i.first {
        width: 50%;
        clip-path: polygon(
          0 0,
          0% 20%,
          0 48%,
          0% 80%,
          0 100%,
          47% 100%,
          100% 100%,
          100% 80%,
          100% 51%,
          100% 20%,
          100% 0,
          49% 0
        );
        animation-delay: 1s;
      }
      i.second {
        width: 25%;
        border-radius: 0 41vw 41vw 0;
        animation-delay: 0.5s;
      }
      i.third {
        width: 25%;
        border-radius: 0 41vw 41vw 0;
      }
    }
  }
}

/* 섹션2 */

.sec2 {
  background-color: white;
  width: calc(100% - 44px);
  min-height: calc(100vh);
  padding-left: 44px;
  padding-top: 82px;
  padding-bottom: 100px;
  .container {
    box-sizing: border-box;
    padding: 0 38px;
    position: relative;
    display: flex;
    flex-direction: column;
    h2 {
      font-size: 6vw;
      letter-spacing: -0.4vw;
      position: relative;
      z-index: 2;
      color: white;
      mix-blend-mode: difference;
      margin-bottom: 20px;
    }
    .rb {
      letter-spacing: -0.5px;
    }
    .lb:hover {
      background-size: 0;
    }
    .up {
      .first {
        margin-right: 22%;
        float: right;
        margin-bottom: 120px;
        .img_box {
          width: 36vw;
          img {
            position: absolute;
            width: 36vw;
          }
          video {
            position: absolute;
            z-index: 1;
            width: 36vw;
          }
        }
      }
    }
    .down {
      display: flex;
      justify-content: space-between;
      .second {
        .img_box {
          width: 44vw;
          img {
            position: absolute;
            width: 44vw;
          }
          video {
            position: absolute;
            z-index: 1;
            width: 44vw;
          }
        }
      }
      .third {
        margin-top: 600px;
        .img_box {
          width: 32vw;
          img {
            position: absolute;
            width: 32vw;
          }
          video {
            position: absolute;
            z-index: 1;
            width: 32vw;
          }
        }
      }
    }
    .img_box {
      aspect-ratio: 1 / 1;
      background-color: rgb(0, 0, 0);
      overflow: hidden;
      display: block;
    }
    .text_box {
      margin-top: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .lb {
        border: 1px solid black;
        padding: 2px 10px;
        border-radius: 20px;
      }
    }
  }
}

/* 섹션3 */

@mixin sec3_title {
  font-size: 7vw;
  letter-spacing: -0.3vw;
  margin-left: 38px;
  margin-bottom: 60px;
}
@mixin sec3_card_title {
  font-size: 2vw;
  line-height: 1.4;
  letter-spacing: -0.05vw;
}
@mixin sec3_card_text {
  position: relative;
  z-index: 2;
  font-size: 14px;
  letter-spacing: -0.1px;
  line-height: 1.6;
  font-weight: 200;
  transition: 0.5s;
}

.sec3 {
  background-color: white;
  width: calc(100% - 44px);
  min-height: calc(100vh);
  padding-left: 44px;
  padding-top: 100px;
  .container {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    .hover_box {
      width: 100%;
      display: flex;
      border-top: 1px solid black;
      border-bottom: 1px solid black;
    }
    .up > .text_box {
      font-size: 2.22vw;
      padding: 0 38px;
      max-width: 75vw;
      line-height: 1.2;
      margin-bottom: 60px;
      letter-spacing: -0.05vw;
    }
    .up > .text_box span {
      color: gray;
    }
    .up {
      padding-bottom: 100px;
      .card {
        width: 25%;
        height: 460px;
        border-right: 1px solid black;
        padding: 24px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transition: 0.5s;
        background-color: white;
        position: relative;
        .icon {
          width: 100px;
          transition: 0.5s;
          position: relative;
          z-index: 2;
          mix-blend-mode: difference;
          svg {
            fill: white;
          }
        }
        .text_box {
          width: 100%;
          height: 30px;
          overflow: hidden;
          transition: 0.5s;
          position: relative;
          z-index: 2;
          .title {
            font-size: 30px;
            font-weight: 400;
            margin-bottom: 10px;
            transition: 0.5s;
          }
          .text {
            font-size: 14px;
            letter-spacing: -0.1px;
            line-height: 1.6;
            transform: translateY(60px);
            transition: 0.5s;
          }
        }
        .black {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          background-color: black;
          transform: scaleY(0);
          transform-origin: 50% 100%;
          z-index: 1;
          transition: 0.5s;
        }
      }
      .card:hover {
        .text_box {
          height: 84px;
          overflow: hidden;
          .title {
            color: white;
          }
          .text {
            color: white;
            transform: translateY(0px);
          }
        }
        .black {
          transform: scaleY(1);
        }
      }
      .card:not(.card.blank).hover {
        width: 50%;
      }

      .card.blank.hover {
        width: 0%;
        padding: 0;
      }
      .card.third {
        border-right: none;
        .text_box {
          height: 60px;
        }
      }
      .card.third:hover {
        .text_box {
          height: 114px;
        }
      }
    }
    .middle {
      padding-bottom: 100px;
      .card {
        width: 25%;
        height: 600px;
        border-right: 1px solid black;
        padding: 24px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transition: 0.5s;
        background-color: white;
        position: relative;
        .blank {
          border-right: none;
        }
        .title_box {
          position: relative;
          z-index: 2;
          margin-top: 228px;
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          transition: 0.5s;
          img {
            transition: 0.5s;
          }
        }
        .title {
          @include sec3_card_title;
        }
        .text_box {
          height: 0px;
          overflow: hidden;
          transition: 0.5s;
        }
        .text {
          @include sec3_card_text;
        }
        .black {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          background-color: black;
          transform: scaleY(0);
          transform-origin: 50% 100%;
          z-index: 1;
          transition: 0.5s;
        }
      }
      .card:hover {
        .title_box {
          color: white;
          margin-top: 0px;
          img {
            filter: invert(1);
            opacity: 0;
          }
        }
        .text_box {
          height: 67px;
        }
        .text {
          color: white;
          transform: translateY(0px);
        }
        .black {
          transform: scaleY(1);
        }
      }
      .card.blank {
        background-color: black;
        .icon {
          width: 100px;
          fill: white;
          animation-name: rotate;
          animation-duration: 50s;
          animation-timing-function: linear;
          animation-iteration-count: infinite;
        }
        a {
          width: fit-content;
          align-self: flex-end;
          color: white;
          font-size: 26px;
          font-weight: 600;
          background-size: 100% 2px, 0 2px;
          padding-bottom: 4px;
        }
        a:hover {
          background-size: 0 2px, 100% 2px;
        }
      }
    }
    .down {
      .hover_box {
        height: 600px;
        .card_list {
          min-width: fit-content;
          height: 100%;
          border-right: 1px solid black;
          .card {
            position: relative;
            padding: 20px 24px;
            border-bottom: 1px solid black;
            .text_box {
              position: relative;
              z-index: 2;
              mix-blend-mode: difference;
              .title {
                color: white;
                @include sec3_card_title;
                font-weight: 300;
              }
              .text {
                color: white;
                @include sec3_card_text;
              }
            }
            .black {
              top: 0;
              left: 0;
              position: absolute;
              z-index: 1;
              height: 100%;
              width: 100%;
              background-color: black;
              transform-origin: 0% 50%;
              transform: scaleX(0%);
              transition: 0.5s;
            }
          }
          .card.on {
            .black {
              transform: scaleX(100%);
            }
          }
        }
        .body_text {
          position: relative;
          padding: 0 68px;
          p {
            font-size: 3vw;
            font-weight: 400;
            letter-spacing: -0.1vw;
            line-height: 1.2;
            display: none;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 6;
            height: calc(533px - 110px);
            overflow: hidden;
            padding-top: 68px;
          }
          .more {
            position: absolute;
            font-size: 26px;
            font-weight: 600;
            right: 20px;
            bottom: 20px;
            background-size: 100% 3px, 0 3px;
            padding-bottom: 4px;
          }
          .more:hover {
            background-size: 0 3px, 100% 3px;
          }
          .more.rm {
            display: none;
          }
          p.on {
            display: -webkit-box;
          }
          p.rm {
            overflow-y: scroll;
            height: 533px;
            -webkit-box-orient: inherit;
          }
        }
      }
    }
  }
}
.sec3 .middle > .title,
.sec3 .down > .title {
  @include sec3_title;
}

// 섹션4

.sec4 {
  background-color: white;
  width: calc(100% - 44px);
  min-height: calc(100vh);
  padding-left: 44px;
  .container {
    position: relative;
    height: 100%;
    .white_box {
      height: 100vw;
      padding-top: 200px;
      .title {
        width: calc(100% - 40px);
        height: 32vw;
        overflow: hidden;
        position: absolute;
        display: flex;
        flex-direction: column;
        gap: 1vw;
        mix-blend-mode: difference;
        box-sizing: border-box;
        margin-left: 40px;
        // bottom: 3vw;
        .up,
        .down {
          display: flex;
        }
        .up {
          .hello {
            transform: translateX(-50vw);
          }
          .studio {
            transform: translateX(50vw);
          }
        }
        .down {
          gap: 4vw;
          transform: scale(3);
          transform-origin: 0% 50%;
        }
        img {
          height: 9.5vw;
        }
        img.hello {
          height: 11vw;
        }
      }
    }
    .black_box {
      padding: 40px;
      height: calc(100vh - 50px);
      box-sizing: border-box;
      background-color: black;
      .text_box {
        height: 100%;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        .up {
          display: flex;
          justify-content: space-between;
          width: 100%;
          .rt {
            font-size: 3vw;
            letter-spacing: -0.05vw;
            line-height: 1.2;
          }
          .lb {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 6px;
          }
          a {
            color: white;
          }
        }
        .down {
          .rb,
          .lt {
            color: #909090;
          }
          .rb {
            position: relative;
            left: -15vw;
          }
        }
      }
    }
  }
}

// 푸터
